@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
body {
  min-height: 100vh;
}
.sidebar {
  position: fixed;
  background-color: #f7f9f9;
  max-width: 25vw;
  width: 100%;
  min-height: 100vh;
}
.sidebar .FacePatrol {
  size: 40px;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-bottom: 20vh;
}
.sidebar span {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.sidebar-items button {
  max-width: 201px;
  width: 100%;
  height: 49px;
  border-radius: 20px;
  background-color: white;
  border: 1px solid black;
  color: black;
  align-items: center;
  margin-bottom: 10px;
}
.sidebar-items button:hover {
  color: white;
  background: black;
  cursor: pointer;
}
.FacePatrol h1 {
  font-weight: 400;
}
.main {
  position: absolute;
  right: 0;
  max-width: 75vw;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}
.main-top h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 10px 30px;
}
.device-panel {
  width: 60%;
  margin: 0 46px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 600;
  color: grey;
  padding-inline: 45px;
}
.camera-container-1,
.camera-container-2,
.camera-container-3 {
  display: flex;
}
.camera-1,
.camera-2,
.camera-3 {
  width: 60%;
  margin: 0 12px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}
.icon {
  width: 40px;
  height: 40px;
  border: 1px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.icon i {
  font-size: 20px;
}
.menu {
  display: none;
}
.close {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
    position: fixed;
    background-color: #f7f9f9;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
  }

  .main {
    display: block;
    position: fixed;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
  }
  .data-1 {
    display: none;
  }
  #icon-1 {
    display: none;
  }
  .device-panel {
    width: 80%;
    margin: 0 60px;
    margin-bottom: 20px;
  }
  .camera-1,
  .camera-2,
  .camera-3 {
    width: 70%;
    margin: 0 85px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
  }
  .menu {
    border: none;
    display: block;
    position: absolute;
    right: 0;
    margin: 30px 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
  }
  .close {
    border: none;
    display: block;
    position: absolute;
    right: 0;
    margin: 30px 30px;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
  }
}
